
.date{
  font-size: 52px;
}

.header{
  padding: 16px;
}

.today{
  color: #2196F3;
}

.day{
  text-align: left;
  display: inline-block;
  width: 13.5%;
  background-color: white;
  border-left: 0.5px solid rgba(0, 0, 0, .2);
}
