.week{
  height: 50vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-align: right;
  background: white;
  position: relative;
}

.header{
  border-bottom: 0.5px solid rgba(0, 0, 0, .2);
}

.bodyWrapper{
  flex-grow: 1;
  position: relative;
  overflow: auto;
}
